__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.git
.gitignore
.dockerignore
.env
.env.example
.coverage
.pytest_cache/
.mypy_cache/
.DS_Store
*.db
*.sqlite
*.sqlite3
media/
staticfiles/
.idea/
.vscode/
*.log
*.pot
node_modules/
npm-debug.log
dist/
build/
.next/
.nuxt/
out/
.cache/
.now/
.gatsby-cache/
.cache-loader/
.tern-port
*.egg-info/
.eggs/
docs/_build/
